## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/jtaul/Desktop/Data Bootcamp/Python/Weather with Api's/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,80.85,83,75,10.36,light rain
1,1,Praia Da Vitoria,PT,38.7333,-27.0667,64.65,68,20,11.30,few clouds
2,2,Saint George,US,37.1041,-113.5841,45.36,40,0,0.00,clear sky
3,3,Cape Town,ZA,-33.9258,18.4232,80.11,55,0,18.41,clear sky
4,4,Hervey Bay,AU,-25.2986,152.8535,66.31,78,63,17.31,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                    (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,80.85,83,75,10.36,light rain
3,3,Cape Town,ZA,-33.9258,18.4232,80.11,55,0,18.41,clear sky
8,8,Port Moresby,PG,-9.4431,147.1797,76.42,88,20,3.44,few clouds
10,10,Maiduguri,NG,11.8464,13.1603,84.74,16,39,13.56,scattered clouds
14,14,Lorengau,PG,-2.0226,147.2712,81.19,81,100,4.76,overcast clouds
16,16,Phangnga,TH,8.4509,98.5298,86.92,90,68,2.15,light rain
21,21,Maningrida,AU,-12.0667,134.2667,79.38,84,98,4.99,overcast clouds
22,22,Barra Do Garcas,BR,-15.8900,-52.2567,82.98,74,75,3.58,broken clouds
27,27,Contamana,PE,-7.3333,-75.0167,76.68,86,99,2.15,moderate rain
37,37,Port Alfred,ZA,-33.5906,26.8910,78.46,75,0,11.14,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                204
City                   204
Country                200
Lat                    204
Lng                    204
Max Temp               204
Humidity               204
Cloudiness             204
Wind Speed             204
Current Description    204
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_data_df = preferred_cities_df.dropna()
preferred_cities_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,80.85,83,75,10.36,light rain
3,3,Cape Town,ZA,-33.9258,18.4232,80.11,55,0,18.41,clear sky
8,8,Port Moresby,PG,-9.4431,147.1797,76.42,88,20,3.44,few clouds
10,10,Maiduguri,NG,11.8464,13.1603,84.74,16,39,13.56,scattered clouds
14,14,Lorengau,PG,-2.0226,147.2712,81.19,81,100,4.76,overcast clouds
16,16,Phangnga,TH,8.4509,98.5298,86.92,90,68,2.15,light rain
21,21,Maningrida,AU,-12.0667,134.2667,79.38,84,98,4.99,overcast clouds
22,22,Barra Do Garcas,BR,-15.8900,-52.2567,82.98,74,75,3.58,broken clouds
27,27,Contamana,PE,-7.3333,-75.0167,76.68,86,99,2.15,moderate rain
37,37,Port Alfred,ZA,-33.5906,26.8910,78.46,75,0,11.14,clear sky

In [7]:
preferred_cities_data_df.count()

City_ID                200
City                   200
Country                200
Lat                    200
Lng                    200
Max Temp               200
Humidity               200
Cloudiness             200
Wind Speed             200
Current Description    200
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bambous Virieux,MU,80.85,light rain,-20.3428,57.7575,
3,Cape Town,ZA,80.11,clear sky,-33.9258,18.4232,
8,Port Moresby,PG,76.42,few clouds,-9.4431,147.1797,
10,Maiduguri,NG,84.74,scattered clouds,11.8464,13.1603,
14,Lorengau,PG,81.19,overcast clouds,-2.0226,147.2712,
16,Phangnga,TH,86.92,light rain,8.4509,98.5298,
21,Maningrida,AU,79.38,overcast clouds,-12.0667,134.2667,
22,Barra Do Garcas,BR,82.98,broken clouds,-15.8900,-52.2567,
27,Contamana,PE,76.68,moderate rain,-7.3333,-75.0167,
37,Port Alfred,ZA,78.46,clear sky,-33.5906,26.8910,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotels_clean_df = hotel_df.dropna()
hotels_clean_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bambous Virieux,MU,80.85,light rain,-20.3428,57.7575,Casa Tia Villa
3,Cape Town,ZA,80.11,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
8,Port Moresby,PG,76.42,few clouds,-9.4431,147.1797,Lamana Hotel (Port Moresby)
10,Maiduguri,NG,84.74,scattered clouds,11.8464,13.1603,Kagel Mari Police Station
14,Lorengau,PG,81.19,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
16,Phangnga,TH,86.92,light rain,8.4509,98.5298,Sunimit Mansion
21,Maningrida,AU,79.38,overcast clouds,-12.0667,134.2667,Dhukurrdji Lodge
22,Barra Do Garcas,BR,82.98,broken clouds,-15.8900,-52.2567,Pousada Tropical
27,Contamana,PE,76.68,moderate rain,-7.3333,-75.0167,Shiringal Touristic Park
37,Port Alfred,ZA,78.46,clear sky,-33.5906,26.8910,The Halyards Hotel

In [11]:
hotels_clean_df.count()

City                   200
Country                200
Max Temp               200
Current Description    200
Lat                    200
Lng                    200
Hotel Name             200
dtype: int64

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotels_clean_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotels_clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotels_clean_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))